html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    color: #fff;
    text-decoration: none;
}

.centre-block {
    margin: 0 auto;
    max-width: 990px;
}

body {
    margin: 0;
}

h1 {
    font-size: 0;
}

.logo {
    margin: 3px 5px 3px 0;
}

.header-text {
    margin: auto 7px auto 7px;
}

.header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #bf1e2e, #f1592a);
}

.header-a {
    padding: 29px 6px 30px 6px;
    color: white;
    text-transform: uppercase;
}

.header-a:link,
.header-a:visited,
.header-a:active {
    text-decoration: none;
}

.header-a:hover {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
}

.lang {
    margin-left: 30px;
    background-color: transparent;
    color: white;
    border: none;
}



.slider {
    margin-bottom: 30px;
}

.slider img {
    width: 100%
}



.slider {
    position: relative;
}

.slider_images .slider_image {
    display: none;
}

.item-active {
    display: inline-flex !important;
}

.data-info_active {
    background: #dd492a;
}

.slider_items {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);

}

.slider_item {
    display: flex;
    justify-content: space-between;

}

.slider_button {
    position: relative;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, #4c4c4c, #505050);
}

.next::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 19px;
    background-image: url("../images/slider/next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prev::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 19px;
    background-image: url("../images/slider/prev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider_button:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #dd492a, #e54b2b);
}

.data {
    width: 92px;
    height: 93px;
    background-color: #4e4e4e;
    background-size: contain;
    text-align: center;
    margin: 0 1px;
}

.data-info_active {
    background-color: #e44927;
}

.data-day {
    font-size: 16.5px;
    color: rgba(255, 255, 255, 0.6);
    padding: 3px 0;
}

.data-number {
    font-size: 44px;
    color: #fff;
    padding-bottom: 6px;
}

.data-month {
    margin: 0 auto;
    font-size: 13px;
    color: rgba(256, 256, 256, 0.6);
    border-top: 1px solid #7d7c7c;
    width: 64px;
    padding: 3px 0;
    text-transform: uppercase;
}

.data-month-active {
    border-color: #fff !important;
}

.data-info {
    position: relative;
    box-sizing: border-box;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    width: 464px;
    height: 93px;
    background-color: #e44927;
    padding: 11px;
}

.data-kod {
    display: block;
    width: 31px !important;
    height: 74px;
}

.data-info_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.data-info_head {
    font-size: 27.5px;
    color: #ffffff;
    padding-bottom: 17px;
}

.data-info_text {
    font-size: 13px;
    color: #ffffff;
}

.data-info_button {
    appearance: none;
    border: none;
    width: 114px;
    height: 25px;
    background-color: #484c4d;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(256, 256, 256, 0.6);
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-nav {
    max-width: 222px;
    max-height: 167px;
    margin-left: 45px;
}

.main-menu a {
    color: #363a3b;
    font-weight: 100;
    font-size: 1.125rem;
}

.main-menu li {
    margin-bottom: 20px;
    position: relative;
}

.icon {
    margin-right: 10px;
    position: absolute;
}

.icon[src$="icon1.png"] {
    top: -6px;
    left: -45px;
}

.icon[src$="icon2.png"] {
    top: -4px;
    left: -42px;
}

.icon[src$="icon3.png"] {
    top: -5px;
    left: -42px;
}

.icon[src$="icon4.png"] {
    top: -5px;
    left: -42px;
}

.icon[src$="icon5.png"] {
    top: -6px;
    left: -43px;
}

.main-menu a:hover {
    color: #df4a2b;
}

.main-content h2 {
    color: #e14a2b;
    font-weight: 100;
    font-size: 1.875rem;
    margin-bottom: 27px;
}

.content-news {
    max-width: 484px;
    color: #878c8d;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 27px;
    border-radius: 4px;
}

.content-news img {
    width: 100%;
}

.main-section-wrap {
    padding: 10px;
}

.news-link h3 {
    display: inline-block;
    color: #484c4d;
    font-size: 1.125rem;
    padding-bottom: 10px;
}

.news-link h3:hover {
    text-decoration: underline;
}

.main-section-wrap p {
    font-size: 0.875rem;
    line-height: 1.2;
}

.main-section-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgba(72, 76, 77, 0.1);
    margin-top: 10px;
    padding: 10px;
    font-size: 0.75rem;
    align-items: center;
}

.aside-content {
    margin-bottom: 40px;
}

.aside-content h2 {
    color: #e14a2b;
    font-size: 1.875rem;
    font-weight: 100;
    padding-bottom: 27px;
}

.aside-content > .content {
    max-width: 235px;
    border-radius: 5px;
}

.content {
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.content img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.content p {
    padding: 10px;
    font-size: 0.875rem;
    color: #484c4d;
}

.footer {
    position: relative;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #f1592a 0%, #bf1e2e 100%);
    border-image-slice: 1;
    padding: 18px 0 15px 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-menu li {
    display: inline;
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 7px;
}

.footer-menu li:first-child {
    margin-left: 0;
}

.footer-menu a {
    text-transform: uppercase;
    color: #898989;
    font-size: 14px;
}

.footer-menu a:hover {
    color: #cd2e2d;
}

.social-menu li {
    display: inline-block;
}

.social-menu a {
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    border-radius: 4px;
    background: center no-repeat;
    background-color: #484c4d;
}

.social-menu a:hover {
    background-color: #cd2e2d;
    opacity: 1;
}

.social-menu a.vk {
    background-image: url("../images/social/vk.png");
}

.social-menu a.youtube {
    background-image: url("../images/social/videos.png");
}

.social-menu a.google {
    background-image: url("../images/social/google.png");
}

.social-menu a.facebook {
    background-image: url("../images/social/facebook.png");
}

.social-menu a.twitter {
    background-image: url("../images/social/bird.png");
}

.scroll-up {
    position: absolute;
    top: -42px;
    right: 13%;
}

.scroll-up > a {
    display: block;
    width: 42px;
    height: 38px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: center no-repeat #cd2e2d;
    background-image: url("..//images/scroll_up.png");
}

.main-section-footer p img {
    width: 50%;
    margin: -15px -5px -5px 0;
}
